:root{
    --header--bg:#232f3f;
    --inbox--bg:#fff;
    --viewer--bg: #e9edee;
    --signin--bg: #fff;
    --footer--middle: #232f23;
    --footer--bottom: #131a22;
}

html{
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  width: 100%;
  min-width: 980px;
  background-color: var(--viewer--bg);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: block;
  color: #fff;
}
.blind{
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.button1{
  border: none;
  display: flex;
  background-color: var(--header--bg);
  color: #fff;
  align-items: center;
}
.button2{
  border: none;
  flex-direction: column;
  background-color: var(--header--bg);
  color: #fff;
}


/* Navigation */
.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__top{
  width:100%;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: var(--header--bg);
}
.nav .nav__top .amz_logo{
  width: 113px;
  height: 50px;
  display: inline-block;
  background-image: url(./images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 0 -35px;
}
.nav .nav__top .locationSelect{
  display: flex;
  height: 50px;
  background-color: var(--header--bg);
  border: none;
  align-items: center;
}
.nav .nav__top .locationSelect .locationIcon{
  padding: 0 3px;
  width: 15px;
  height: 18px;
  background-image: url(./images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: -71px -379px;
  justify-content: center;
}
.nav .nav__top .locationSelect .locationInfo{
  display: flex;
  flex-direction: column;
}
.nav .nav__top .locationSelect .locationInfo span{
  color: #fff;
  vertical-align: bottom;
}

/* serach box */
.nav .nav__top .search{
  flex-grow: 1;
  height: 38px;
  border: 2px solid var(--header--bg);

  padding: 10px 4px 10px 3px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--header--bg);  
}
.nav .nav__top .search .fold_menue{
  height: 100%;
  width: 50px;
  margin: 0;
  padding:0;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav .nav__top .search .seachbox{
 flex-grow: 1;
 height: 38px;
 box-sizing: border-box;
 border:none
}
.nav .nav__top .search .searchIcon{
  height: 100%;
  width: 50px;
  display: block;
  background-color: orange;
  background-image: url(./images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 5px -280px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* menue group1 */
.nav .nav__top .menue__group1{
  display: flex;
}
.nav .nav__top .menue__group1 .language{
  display: flex;
  align-items: center;
  border: none;
}
.nav .nav__top .cart{
  display: flex;
  align-items: center;
  padding-right: 15px;

}
.nav .nav__top .cart .cart__countcart{
  height: 39px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  
}
.nav .nav__top .cart .cart__countcart .countcart--count{
  width: 19px; 
  height: 16px; 
  color: orange;
  font-weight: bold;
  position: absolute;
}
.nav .nav__top .cart .cart__countcart .countcart--image{
  width: 38px; 
  height: 39px; 
  display: block;
  background-image: url(./images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png); 
  background-position: -10px -330px;
}
.nav .nav__top .cart .text--cart{
  display: flex;
  height: 39px;
  align-items: flex-end;
 
}
.nav .nav__top .cart .text--cart span{
  font-weight: bold;
}

/* Nav bottom */
.nav .nav__bottom{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--header--bg);  
}
.nav .nav__bottom .button1 .slider__menue{
  width: 17px;
  height: 14px;
  background-image: url(./images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: -169px -255px;
  padding-right: 5px;
}
.nav .nav__bottom .button1 span{
  padding-left: 3px;

}

.nav .nav__bottom ul{
  flex-grow: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content:flex-start;

}
.nav .nav__bottom ul li{
  padding: 0 10px;
}

.nav .nav__bottom .dayOfevent{
  color: #fff;
  padding-right: 15px;
}


